body {
    font-family: 'Arial', sans-serif;
    background-color: #999898;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
    margin: 0;
    padding-top: 50px;

}

.container {
    background-color: aliceblue;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 450px;
}

h1 {
    text-align: center;
    color: #333;
    margin-bottom: 30px;
    border-bottom: 2px solid #5cd85c;
    padding-bottom: 10px;
}

.input-area {
    display: flex;
    margin-bottom: 20px;
}

#todo-input {
    flex-grow: 1;
    padding: 10px 15px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
    font-size: 16px;
    outline: none;
}

#add-button {
    padding: 10px 20px;
    background-color: #5cd85c;
    color: white;
    
    border-radius: 0 5px 5px 0 ;
    cursor: pointer;
    transition: background-color 0.5s;

}

#add-button:hover {
    background-color: #4cae4c;
}

#todo-list {
    list-style: none;
    padding: 0;
    margin: 0;
}


