body {
    font-family: 'Arial', sans-serif;
    background-color: #999898;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
    margin: 0;
    padding-top: 50px;

}

.container {
    background-color: aliceblue;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 450px;
}

h1 {
    text-align: center;
    color: #333;
    margin-bottom: 30px;
    border-bottom: 2px solid #5cd85c;
    padding-bottom: 10px;
}

.input-area {
    display: flex;
    margin-bottom: 20px;
}

#todo-input {
    flex-grow: 1;
    padding: 10px 15px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
    font-size: 16px;
    outline: none;
}

#add-button {
    padding: 10px 20px;
    background-color: #5cd85c;
    color: white;
    border: none;
    border-radius: 0 5px 5px 0 ;
    cursor: pointer;
    transition: background-color 0.5s;

}

#add-button:hover {
    background-color: #4cae4c;
}

#todo-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

#todo-list  li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 15px;
    margin-bottom: 8px;
    background-color: #e8f5e9;
    border-radius: 5px;
    transition: all 0.3s ease;
    cursor: pointer;
}

.task-content {
    flex-grow: 1;
    color: #333;
    font-size: 16px;
}

#todo-list li.completed .task-content {
    text-decoration: line-through;
    color: #a0a0a0;
}

.delete-btn {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    margin-left: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 16px;
}

.delete-btn:hover {
    background-color: #d32f2d;
}


.storage-gauge-area {
    margin: 10px 0 15px 0;
    padding: 10px;
    background-color: #f0f0f0;
    border-radius: 5px;
}

.storage-gauge-area p {
    margin: 0 0 5px 0;
    font-size: 14px;
    color: #555;
}

.gauge-bar-container {
    height: 15px;
    background-color: #e0e0e0;
    border-radius: 7px;
    overflow: hidden;
    margin-bottom: 5px;
}

.gauge-bar-fill {
    height: 100%;
    width: 0%;
    background-color: #007bff;
    transition: width 0.5s ease;
}

#storage-size-text {
    display: block;
    text-align: right;
    font-size: 12px;
    color: #777;
}